.ServiceHub/
.android/
.angular-config.json
.anydesk/
.aspnet/
.bash_history
.bash_logout
.bash_profile
.bash_profile.bak
.bashrc
.cabal/
.cache/
.calc_history
.cargo/
.codeium/
.conan2/
.config/.avalonia-build-tasks/
.config/BetterDiscord Installer/
.config/BetterDiscord/
.config/Blackmagic Design/
.config/Code - OSS/
.config/Code/
.config/Cursor/
.config/Electron/
.config/GIMP/
.config/JetBrains/
.config/KDE/
.config/Kvantum/
.config/MusicBrainz/
.config/OpenRGB/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/QtProject/
.config/Slack/
.config/Trolltech.conf
.config/Unknown Organization/
.config/ZapZap/
.config/ags/
.config/akonadi-firstrunrc
.config/akonadi-migrationrc
.config/akonadi/
.config/akonadi_contacts_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/akonadiconsolerc
.config/angelfish/
.config/anyrun/
.config/arkrc
.config/astro/
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/bomberrc
.config/bpytop/
.config/broot/
.config/browsh/
.config/bspwm/
.config/calcurse/
.config/cava/
.config/cervisiarc
.config/chrome-flags.conf
.config/chromium/
.config/ckb-next/
.config/code-flags.conf
.config/color-palettes.md
.config/create-next-app-nodejs/
.config/cubocore/
.config/dconf/
.config/discord/
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/easytag/
.config/elinks/
.config/elisarc
.config/emaildefaults
.config/emailidentities
.config/falkon/
.config/feishin/
.config/filetypesrc
.config/fish/
.config/fontconfig/
.config/fontforge/
.config/foot/
.config/fuzzel/
.config/gemini_history.json
.config/go/
.config/google-chrome/
.config/greenclip.toml
.config/greenclip.toml.bak
.config/gthumb/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/heroic/
.config/htop/
.config/inkscape/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kalarmrc
.config/kalk/
.config/kapmanrc
.config/kate-externaltoolspluginrc
.config/kate/
.config/katemetainfos
.config/katerc
.config/katevirc
.config/kcharselectrc
.config/kclockrc
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kgammarc
.config/kglobalshortcutsrc
.config/kgpgrc
.config/khelpcenterrc
.config/kiorc
.config/kioworkerrc
.config/kmenueditrc
.config/kmixctrlrc
.config/kmixrc
.config/kmousetool_strokes.txt
.config/kokorc
.config/kolourpaintrc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/kritadisplayrc
.config/kritarc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwaverc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/lazydocker/
.config/lazygit/
.config/libaccounts-glib/
.config/micro/
.config/mimeapps.list
.config/mpd/
.config/mpv/
.config/ncmpcpp/
.config/nix/
.config/notion-app-enhanced/
.config/nvchad/
.config/nvim-lazyvim/
.config/nvim-nde/
.config/nvim-second/
.config/nvim/
.config/obs-studio/
.config/openrazer/
.config/ostui/
.config/partitionmanagerrc
.config/pavucontrol.ini
.config/phishingurlrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasma-workspace/
.config/plasmarc
.config/plasmashellrc
.config/polychromatic/
.config/powermanagementprofilesrc
.config/pulse/
.config/pupgui/
.config/qt5ct/
.config/qutebrowser/
.config/scripts/calc-launcher.sh
.config/scripts/fix-clock.sh
.config/sddmthemeinstallerrc
.config/session/
.config/simple-update-notifier/
.config/specialmailcollectionsrc
.config/spectaclerc
.config/starship.toml
.config/stmps/
.config/sxhkd/
.config/systemd/
.config/systemmonitorrc
.config/systemsettingsrc
.config/taskwarrior-tui/
.config/terminaldrome/
.config/termsonic.toml
.config/tests/
.config/thorium-flags.conf
.config/tmux/
.config/topgrade.toml
.config/trashrc
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/uv/
.config/vifm/
.config/virt-manager-launcher.sh
.config/vitetris
.config/vlc/
.config/warp-terminal/
.config/wlogout/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.config/zellij/
.config/zellij_backup/
.config/zshrc.d/
.cursor/
.dotnet/
.dotty_history
.electron-gyp/
.emacs.d/
.factorio/
.fonts.conf
.fonts/
.ghcup/
.git-credentials
.gitconfig
.gnupg/
.gtkrc-2.0
.java/
.local/
.luarocks/
.mozilla/
.nimble/
.nix-defexpr/
.nix-profile
.notion-enhancer
.npm-global/
.npm/
.nuget/
.nvm/
.oh-my-zsh/
.ollama/
.opam/
.p10k.zsh
.paradoxlauncher/
.password_generator/
.pki/
.profile
.pulse-cookie
.python_history
.rnd
.rustup/
.ssh/
.stack/
.starship
.steam/
.steampath
.steampid
.supermaven/
.task/
.taskrc
.templateengine/
.tig_history
.tmux/
.ts_node_repl_history
.var/
.vim/
.viminfo
.vscode-oss/
.vscode/
.w3m/
.watch-zshrc.sh
.wget-hsts
.wine/
.zcompdump-Sckab-5.9
.zcompdump-Sckab-5.9.zwc
.zen/
.zprofile
.zsh/gemini-api-key.zsh
.zsh/zsh-autosuggestions/
.zsh/zsh-syntax-highlighting/
.zsh_history
.zshrc.backup
.zshrc.pre-oh-my-zsh
BetterDiscord
Desktop/
Documents/
Downloads/
Games/
Heimdall/
IDE/
Music/
Odin3_v3.14.4/
Pictures/
Programmazione/
R/
SUPER-SECRET/
Videos/
backup/
check_lsp_status.lua
eww/
github/
go/
green_black.png
hyprgui-bin/
hyprgui/
hyprland-gui/
musica/
netboot.xyz.img
nnn/
output.txt
param.bin.lz4
paru/
presentations/
projects/
quickshell/
rage-mode/
recovery.img.lz4
scc/
startup_analysis.log
tests/
tmux-client-26888.log
update_loader_references.sh
vbmeta.img.lz4
website-scsdc-co/
yt-archive.txt
.config/nextjs-nodejs/
