.android
.aspnet 
.bash_history
.bash_logout
.bash_profile
.bash_profile.bak
.bashrc
.cabal
.cache
.calc_history
.cargo
.codeium
.cursor
.dotnet
.electron-gyp
.emacs.d
.factorio
.fonts
.fonts.conf
.ghcup
.git-credentials
.gitconfig
.gnupg
.gtkrc-2.0
.icons
.java
.john
.local
.luarocks
.lyrics
.mozilla
.nimble
.nix-defexpr
.nix-profile
.notion-enhancer
.npm
.npm-global
.nuget
.nvm
.oh-my-zsh
.ollama
.omnisharp
.opam
.p10k.zsh
.paradoxlauncher
.password_generator
.pki
.profile
.pulse-cookie
.python_history
.rnd
.rustup
.ServiceHub
.ssh
.stack
.starship
.steam
.steampath
.steampid
.supermaven
.task
.taskrc
.templateengine
.tig_history
.tmux
.var
.vim
.viminfo
.vscode
.vscode-oss
.w3m
.watch-zshrc.sh
.wget-hsts
.wine
.zcompdump-Sckab-5.9
.zcompdump-Sckab-5.9.zwc
.zen
.zsh_history
.zshrc.backup
.zshrc.pre-oh-my-zsh
zsh-autosuggestions
zsh-syntax-highlighting
gemini-api-key.zsh
backup
BetterDiscord
check_lsp_status.lua
Desktop
Documents
Downloads
eww
github
go
green_black.png
Heimdall
hyprgui
hyprgui-bin
hyprland-gui
IDE
image.settings.png
Music
netboot.xyz.img
nnn
Odin3_v3.14.4
output.txt
param.bin.lz4
paru
Pictures
Programmazione
projects
Public
quickshell
R
rage-mode
recovery.img.lz4
scc
startup_analysis.log
SUPER-SECRET
test.json
tests
tmux-client-26888.log
update_loader_references.sh
vbmeta.img.lz4
Videos
website-create-mastery
website-scsdc-co
yt-archive.txt
.avalonia-build-tasks
ags
akonadi
akonadi-firstrunrc
akonadi-migrationrc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
anyrun
arkrc
ascii_arts
astro
autostart
baloofileinformationrc
baloofilerc
BetterDiscord
BetterDiscord Installer
Blackmagic Design
bluedevilglobalrc
bpytop
broot
browsh
bspwm
calc-launcher.sh
calcurse
cava
cervisiarc
chrome-flags.conf
ckb-next
Code
code-flags.conf
Code - OSS
color-palettes.md
cubocore
Cursor
dconf
Discord
discord
discoverrc
dolphinrc
drkonqirc
Electron
elinks
emaildefaults
emailidentities
falkon
filetypesrc
fish
fix-clock.sh
fontconfig
fontforge
foot
fuzzel
gemini_history.json
GIMP
glib-2.0
go
google-chrome
greenclip.toml
greenclip.toml.bak
gthumb
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
heroic
htop
ibus
inkscape
JetBrains
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalarmrc
kalk
kapmanrc
kate
kate-externaltoolspluginrc
katemetainfos
katerc
katevirc
kcharselectrc
kclockrc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kde.org
kdeconnect
kded5rc
kdedefaults
kdeglobals
kdenlive-layoutsrc
kdenliverc
kgammarc
kglobalshortcutsrc
kgpgrc
khelpcenterrc
kiorc
kioworkerrc
kmenueditrc
kmixctrlrc
kmixrc
kmousetool_strokes.txt
kokorc
konq_history
konquerorrc
konsolerc
konsolesshconfig
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
Kvantum
kwalletrc
kwaverc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
lazydocker
lazygit
libaccounts-glib
libvirt
menus
micro
mimeapps.list
mpd
mpv
nautilus
ncmpcpp
nix
notion-app-enhanced
nvchad
nvim-lazyvim
nvim-nde
nvim-second
obs-studio
openrazer
OpenRGB
paradox-launcher-v2
partitionmanagerrc
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma-workspace
PlasmaDiscoverUpdates
plasmarc
plasmashellrc
polychromatic
powermanagementprofilesrc
procps
pulse
pupgui
qt5ct
QtProject
QtProject.conf
qtvirtualkeyboard
sddmthemeinstallerrc
session
silicon
simple-update-notifier
Slack
specialmailcollectionsrc
spectaclerc
starship.toml
stmps
sxhkd
systemd
systemmonitorrc
systemsettingsrc
taskwarrior-tui
termsonic.toml
tests
thorium-flags.conf
topgrade.d
topgrade.toml
trashrc
Trolltech.conf
unity3d
Unknown Organization
user-dirs.dirs
user-dirs.locale
uv
vifm
virt-manager-launcher.sh
vitetris
vlc
warp-terminal
wlogout
xdg-desktop-portal-kderc
xsettingsd
yay
zellij
zellij_backup
zshrc.d
nvim
tmux
.conan2/
.config/ZapZap/
.config/qutebrowser/
MusicBrainz/
.config/bomberrc
.config/elisarc
.config/chromium/
.config/akonadiconsolerc
.config/phishingurlrc
.anydesk/
.config/easytag/
.config/feishin/
.config/ostui/
.config/terminaldrome/
musica/
