* {
  font-family: "Roboto";
  font-size: 15px;
  color: #76946a;
  font-weight: bold;
}

window#waybar {
  background-color: #181616;
  opacity: 1;
}

#workspaces {
  margin-left: 10px;
  margin-right: 10px;
  color: #181616;
}

#workspaces button {
  color: #76946a;
  padding: 6px;
}

#workspaces button.active {
  background-color: #76946a;
  border-radius: 0px;
}

#workspaces button.active * {
  color: #181616;
}

#workspaces button.urgent {
  background-color: #e82424;
  border-radius: 0px;
}

#workspaces button.urgent * {
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #76946a;
  border-radius: 0px;
  border: none;
  padding: 3px;
}

#clock {
  margin-right: 10px;
  color: #181616;
}

#pulseaudio {
  color: #181616;

  border-right: #181616 solid 1px;
  border-left: #181616 solid 1px;

  padding-right: 10px;
  padding-left: 10px;

  margin-right: 10px;
  margin-left: 10px;
}

#network {
  color: #181616;

  margin-right: 5px;
  margin-left: 10px;
}

.modules-right {
  background-color: #76946a;
  color: #181616;
}
