@define-color rosewater  #76946A;
@define-color rosewater-rgb  rgb(118, 148, 106);
@define-color flamingo  #76946A;
@define-color flamingo-rgb  rgb(118, 148, 106);
@define-color pink  #76946A;
@define-color pink-rgb  rgb(118, 148, 106);
@define-color mauve  #76946A;
@define-color mauve-rgb  rgb(118, 148, 106);
@define-color red  #76946A;
@define-color red-rgb  rgb(118, 148, 106);
@define-color maroon  #76946A;
@define-color maroon-rgb  rgb(118, 148, 106);
@define-color peach  #76946A;
@define-color peach-rgb  rgb(118, 148, 106);
@define-color yellow  #76946A;
@define-color yellow-rgb  rgb(118, 148, 106);
@define-color green  #76946A;
@define-color green-rgb  rgb(118, 148, 106);
@define-color teal  #76946A;
@define-color teal-rgb  rgb(118, 148, 106);
@define-color sky  #76946A;
@define-color sky-rgb  rgb(118, 148, 106);
@define-color sapphire  #76946A;
@define-color sapphire-rgb  rgb(118, 148, 106);
@define-color blue  #76946A;
@define-color blue-rgb  rgb(118, 148, 106);
@define-color lavender  #76946A;
@define-color lavender-rgb  rgb(118, 148, 106);

@define-color text  #ffffff;
@define-color text-rgb  rgb(205, 214, 244);
@define-color subtext1  #bac2de;
@define-color subtext1-rgb  rgb(186, 194, 222);
@define-color subtext0  #a6adc8;
@define-color subtext0-rgb  rgb(166, 173, 200);
@define-color overlay2  #9399b2;
@define-color overlay2-rgb  rgb(147, 153, 178);
@define-color overlay1  #7f849c;
@define-color overlay1-rgb  rgb(127, 132, 156);
@define-color overlay0  #6c7086;
@define-color overlay0-rgb  rgb(108, 112, 134);
@define-color surface2  #585b70;
@define-color surface2-rgb  rgb(88, 91, 112);
@define-color surface1  #45475a;
@define-color surface1-rgb  rgb(69, 71, 90);
@define-color surface0  #313244;
@define-color surface0-rgb  rgb(49, 50, 68);
@define-color base  rgba(0, 0, 0, 0.7);
@define-color base-rgb  rgba(0, 0, 0, 0.7);
@define-color mantle  #181825;
@define-color mantle-rgb  rgb(24, 24, 37);
@define-color crust  #000000;
@define-color crust-rgb  rgb(0, 0, 0);

* {
	font-family: "CaskaydiaCove Nerd Font", monospace;
	font-size: 18px;
}

/* Window */
window {
	margin: 0px;
	padding: 10px;
	border: 2px solid @lavender;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Inner Box */
#inner-box {
	margin: 5px;
	padding: 0px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

/* Outer Box */
#outer-box {
	margin: 5px;
	padding: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

/* Scroll */
#scroll {
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

/* Input */
#input {
	margin: 5px 5px;
	padding: 10px;
	border: 2px solid @lavender;
	border-radius: 15px;
	color: @text;
	background-color: rgba(0, 0, 0, 0);
}

#input image {
	border: none;
	color: @red;
}

#input * {
	outline: 4px solid @red!important;
}

/* Text */
#text {
	margin: 5px;
	border: none;
	color: @text;
}

#entry {
	background-color: rgba(0, 0, 0, 0);
}

#entry arrow {
	border: none;
	color: @lavender;
}

/* Selected Entry */
#entry:selected {
	border: 2px solid @lavender;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0);
}

#entry:selected #text,
#text:selected {
	color: @mauve;
	background-color: rgba(0, 0, 0, 0);
}

#entry:drop,
#entry:drop(active),
#entry:active {
	background-color: rgba(0, 0, 0, 0);
	color: @text;
	border-radius: 10px;
}

#entry:unselected {
	background-color: rgba(0, 0, 0, 0);
}
